<html>
<!-- start coded_template: id:4430457425 path:generated_layouts/4430457265.html -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" > <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" >        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" >               <![endif]--><!--[if gt IE 8]><!-->
<!--<![endif]-->
<head>
	<!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="IMPACT Branding &amp; Design">
    <meta name="description" content="Start creating ridiculously persuasive blogs with these actionable tips and increase your conversions.">
    <meta name="generator" content="HubSpot">
    <title>Free Guide: How to Generate More Leads from Your Blog</title>
    <link rel="shortcut icon" href="hs-fs/hub/145335/file-399276868-ico/impactbnd-COS/favicon_inbound-marketing-agency.ico-t=1508360191566.jpeg"> -->

	<script src="https://static.hsstatic.net/jquery-libs/static-1.4/jquery/jquery-1.11.2.js">
	</script>
	<script type="text/javascript">
	hsjQuery = window['jQuery']
	</script>
	<link href="https://static.hsstatic.net/content_shared_assets/static-1.4049/css/public_common.css" rel="stylesheet">
	<meta content="Start creating ridiculously persuasive blogs with these actionable tips and increase your conversions."
	property="og:description">
	<meta content="Free Guide: How to Generate More Leads from Your Blog" property="og:title">
	<meta content="Start creating ridiculously persuasive blogs with these actionable tips and increase your conversions."
	name="twitter:description">
	<meta content="Free Guide: How to Generate More Leads from Your Blog" name="twitter:title">
	<%if Rails.env.production? %><!--  Added by GoogleAnalytics integration -->

	<script type="text/javascript">
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-107707437-1', 'auto');
	  ga('send', 'pageview');
	</script><!-- /Added by GoogleAnalytics integration -->
	<!-- Facebook Pixel Code -->

	<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	 n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	 if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	 n.queue=[];t=b.createElement(e);t.async=!0;
	 t.src=v;s=b.getElementsByTagName(e)[0];
	 s.parentNode.insertBefore(t,s)}(window, document,'script',
	 'https://connect.facebook.net/en_US/fbevents.js');
	 fbq('init', '1444124858970656');
	 fbq('track', 'PageView');
	 fbq('track', 'ViewContent');
	</script><noscript><img height="1" src="https://www.facebook.com/tr?id=1444124858970656&ev=PageView&noscript=1" style=
	"display:none" width="1"></noscript><!-- End Facebook Pixel Code -->
	<%end %>
	<link href="take-your-business-to-the-next-level.html" rel="canonical">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<!-- <meta name="google-site-verification" content="4boR2nJhAQA8QNJgYXjQ_LZO7tIdCn5IefnFI6uSmK0"> -->
	<!-- <link href="hs-fs/hub/145335/file-443044961-png/impactbnd-COS/Apple_Icons/inbound-marketing-logo-appleicon-32-t=1508360191566.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="hs-fs/hub/145335/file-443017986-png/impactbnd-COS/Apple_Icons/inbound-marketing-logo-appleicon-57-t=1508360191566.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="hs-fs/hub/145335/file-445843555-png/impactbnd-COS/Apple_Icons/inbound-marketing-logo-appleicon-72-t=1508360191566.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="hs-fs/hub/145335/file-445849165-png/impactbnd-COS/Apple_Icons/inbound-marketing-logo-appleicon-114-t=1508360191566.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="hs-fs/hub/145335/file-443040931-png/impactbnd-COS/Apple_Icons/inbound-marketing-logo-appleicon-144-t=1508360191566.png"> -->
	<link href=
	"https://cdn2.hubspot.net/hub/-1/hub_generated/template_assets/1495141902003/hubspot_default/shared/responsive/layout.min.css"
	rel="stylesheet">
	<link href=
	"hs-fs/hub/145335/hub_generated/style_manager/1413828072790/custom/page/css/hubspot-default-no-style.min.css" rel=
	"stylesheet">
	<link href="hs-fs/hub/145335/hub_generated/template_assets/1505428154700/custom/page/css/style.min.css" rel=
	"stylesheet">
	<link href=
	"hs-fs/hub/145335/hub_generated/template_assets/1469634957540/custom/page/CSS/conversion-collection-914.min.css" rel=
	"stylesheet"><script src=
	"https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'bootstrap.min', 'owl.carousel.min', 'scrolling-nav', 'jquery.easing.min', 'jquery.shuffle.min', 'custom', 'jquery.countTo', 'validator.min', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag  'landing', 'animate', 'font-awesome.min', 'home', 'linear-icons', 'owl.carousel', 'owl.theme', media: 'all', 'data-turbolinks-track': 'reload' %>
	<!-- The style tag has been deprecated. Attached stylesheets are included in the required_head_tags page variable. -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet">
	<script src="https://use.typekit.net/ktb6ypq.js" type="text/javascript">
	</script>
	<script type="text/javascript">
	try{Typekit.load();}catch(e){}
	</script>

	<title></title>
</head>
<body class=
" hs-content-id-2045022682 hs-landing-page hs-page hs-content-path-generate-more-leads-from-blog hs-content-name-lp-cc-generate-more-leads-from-your-blog"
style="">
	<div class="header-container-wrapper">
		<div class="header-container container-fluid">
			<div class="row-fluid-wrapper row-depth-1 row-number-1">
				<div class="row-fluid">
					<div class="span12 widget-span widget-type-raw_jinja" data-w="12" data-widget-type="raw_jinja" data-x="0" style=
					"">
						<div id="header">
							<div class="header-overlay"></div>
							<div class="impactbnd-container">
								<section id="hero">
									<div class="row-fluid">
										<div class="span5"></div>
										<div class="span2"><img alt="Inbound Marketing Agency - IMPACT" class="logo" src=
										"https://i.imgur.com/su2PANz.png"></div>
									</div>
									<div class="row-fluid conversion-container">
										<div class=" span6 conversion-head">
											<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_section_header"
											data-hs-cos-general-type="widget" data-hs-cos-type="section_header" id="hs_cos_wrapper_Conversion_Header"
											style=""></span>
											<div class="page-header section-header">
												<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_section_header"
												data-hs-cos-general-type="widget" data-hs-cos-type="section_header" id="hs_cos_wrapper_Conversion_Header"
												style=""></span>
												<h1><span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_section_header"
												data-hs-cos-general-type="widget" data-hs-cos-type="section_header" id="hs_cos_wrapper_Conversion_Header"
												style="">The IMPACT Conversion Collection</span></h1>
												<p class="secondary-header"><span class=
												"hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_section_header" data-hs-cos-general-type="widget"
												data-hs-cos-type="section_header" id="hs_cos_wrapper_Conversion_Header" style=""><span class=
												"section-subheader" id="hs_cos_wrapper_subheader"></span></span></p>
												<h1 class="conversion-sub-header"> Lets have 20-minute call about your business marketing and web development needs </h1>
												<p></p>
											</div>
										</div>
										<div class=" span6 image-head">
											<div class="cta-image"><img alt="Generate Even More Leads for Your Blogs" src=
											"https://i.imgur.com/RO6Q2P8.png"
											title="Generate Even More Leads for Your Blogs"></div>
											<div class="cta-image-mobile"><img alt="Generate Even More Leads for Your Blogs" src=
											"https://i.imgur.com/FDlYq8z.png"
											title="Generate Even More Leads for Your Blogs"></div>
										</div>
									</div>
								</section>
							</div>
						</div><!--end widget-span -->
					</div><!--end row-->
				</div><!--end row-wrapper -->
			</div><!--end header -->
		</div><!--end header wrapper -->
		<div class="body-container-wrapper">
			<div class="body-container container-fluid">
				<div class="row-fluid-wrapper row-depth-1 row-number-1">
					<div class="row-fluid">
						<div class="impactbnd-container">
							<section id="conversion-description">
								<div class="span12 widget-span widget-type-cell" data-w="12" data-widget-type="cell" data-x="0" style="">
									<div class="row-fluid-wrapper row-depth-1 row-number-2">
										<div class="row-fluid">
											<div class="span12 widget-span widget-type-rich_text" data-w="12" data-widget-type="rich_text" data-x="0"
											style="">
												<div class="cell-wrapper layout-widget-wrapper">
													<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" data-hs-cos-general-type=
													"widget" data-hs-cos-type="rich_text" id="hs_cos_wrapper_module_14139925276622572" style=""></span>
													<h2 class="conversion-title"><span class=
													"hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" data-hs-cos-general-type="widget"
													data-hs-cos-type="rich_text" id="hs_cos_wrapper_module_14139925276622572" style="">Get personalized tips that can improve your advertising strategy, right from the start.&nbsp;</span></h2>
												</div><!--end layout-widget-wrapper -->
											</div><!--end widget-span -->
										</div><!--end row-->
									</div><!--end row-wrapper -->
									<div class="row-fluid-wrapper row-depth-1 row-number-3">
										<div class="row-fluid">
											<div class="span6 widget-span widget-type-rich_text" data-w="6" data-widget-type="rich_text" data-x="0"
											style="">
												<div class="cell-wrapper layout-widget-wrapper">
													<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" data-hs-cos-general-type=
													"widget" data-hs-cos-type="rich_text" id="hs_cos_wrapper_module_14128809337293063" style=""></span>
													<p><span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
													data-hs-cos-general-type="widget" data-hs-cos-type="rich_text" id=
													"hs_cos_wrapper_module_14128809337293063" style=""><img alt="Generate More Leads from Blogs"
													data-constrained="true" sizes="(max-width: 156px) 100vw, 156px" src=
													"hs-fs/hubfs/Landing_Page_(715)/Assets/generate-more-leads-blog-t=1508360191566&amp;width=156&amp;name=generate-more-leads-blog.png"
													srcset=
													"hs-fs/hubfs/Landing_Page_(715)/Assets/generate-more-leads-blog-t=1508360191566&amp;width=78&amp;name=generate-more-leads-blog.png 78w, hs-fs/hubfs/Landing_Page_(715)/Assets/generate-more-leads-blog-t=1508360191566&amp;width=156&amp;name=generate-more-leads-blog.png 156w, hs-fs/hubfs/Landing_Page_(715)/Assets/generate-more-leads-blog-t=1508360191566&amp;width=234&amp;name=generate-more-leads-blog.png 234w, hs-fs/hubfs/Landing_Page_(715)/Assets/generate-more-leads-blog-t=1508360191566&amp;width=312&amp;name=generate-more-leads-blog.png 312w, hs-fs/hubfs/Landing_Page_(715)/Assets/generate-more-leads-blog-t=1508360191566&amp;width=390&amp;name=generate-more-leads-blog.png 390w, hs-fs/hubfs/Landing_Page_(715)/Assets/generate-more-leads-blog-t=1508360191566&amp;width=468&amp;name=generate-more-leads-blog.png 468w"
													style="float: right; width: 156px;" title="Generate More Leads from Blogs" width="156">We discuss the right tools & strategies to reach your goals. Whether you are just getting started or you are looking to expand. We can help you grow.</span></p>
													<p><span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
													data-hs-cos-general-type="widget" data-hs-cos-type="rich_text" id=
													"hs_cos_wrapper_module_14128809337293063" style="">Learn how to <strong>acquire new customers, engage with existing ones, drive revenue & sales on Facebook</strong></p>

                          <p><span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
													data-hs-cos-general-type="widget" data-hs-cos-type="rich_text" id=
													"hs_cos_wrapper_module_14128809337293063" style="">How it works?</p>


                          <ul>
														<li><span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
														data-hs-cos-general-type="widget" data-hs-cos-type="rich_text" id=
														"hs_cos_wrapper_module_14128809337293063" style=""><strong>Submit the form with all the requested fields</strong></span></li>
														<li><span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
														data-hs-cos-general-type="widget" data-hs-cos-type="rich_text" id=
														"hs_cos_wrapper_module_14128809337293063" style="">We will contact you to schedule an appointment.</span></li>
														<li><span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
														data-hs-cos-general-type="widget" data-hs-cos-type="rich_text" id=
														"hs_cos_wrapper_module_14128809337293063" style="">Be at your computer with Facebook and or website open to be ready to start.</span></li>
													</ul>
												</div><!--end layout-widget-wrapper -->
											</div><!--end widget-span -->
											<div class="form-container">




                          <%= form_with(model: @landing, local: true, url: landing_new_url) do |form| %>
                            <% if @landing.errors.any? %>
                              <div id="error_explanation">
                                <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

                                <ul>
                                <% post.errors.full_messages.each do |message| %>
                                  <li><%= message %></li>
                                <% end %>
                                </ul>
                              </div>
                            <% end %>

                            <div class="form-control">
                              <%= form.label :full_name %>
                              <%= form.text_field :full_name %>
                            </div>

                            <div class="form-control">
                              <%= form.label :company_name %>
                              <%= form.text_field :company_name %>
                            </div>

                            <div class="form-control">
                              <%= form.label :phone_number %>
                              <%= form.text_field :phone_number %>
                            </div>

                            <div class="form-control">
                              <%= form.label :email %>
                              <%= form.text_field :email %>
                            </div>

                            <div class="form-control">
                              <%= form.label :topic %>
                              <%= form.text_field :topic %>
                            </div>

                            <div class="actions">
                              <%= form.submit %>
                            </div>
                          <% end %>
                        </div>


												<!-- <div class="form">
													<div class="span6 widget-span widget-type-form" data-w="6" data-widget-type="form" data-x="6" style="">
														<div class="cell-wrapper layout-widget-wrapper">
															<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_form" data-hs-cos-general-type=
															"widget" data-hs-cos-type="form" id="hs_cos_wrapper_module_14139925212912390" style=""></span>
															<h3 class="hs_cos_wrapper form-title" data-hs-cos-general-type="widget_field" data-hs-cos-type="text"
															id="hs_cos_wrapper_module_14139925212912390_title">
                              <span class=
															"hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_form" data-hs-cos-general-type="widget"
															data-hs-cos-type="form" id="hs_cos_wrapper_module_14139925212912390" style="">Get My Copy
															Now!</span></h3>
															<div id="hs_form_target_module_14139925212912390">
																<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_form" data-hs-cos-general-type=
																"widget" data-hs-cos-type="form" id="hs_cos_wrapper_module_14139925212912390" style=""></span>
															</div>
														</div>
													</div>
												</div> -->
											</div>
										</div><!--end row-->
									</div><!--end row-wrapper -->
								</div><!--end widget-span -->
							</section>
						</div>
					</div><!--end row-->
				</div><!--end row-wrapper -->
			</div><!--end body -->
		</div><!--end body wrapper -->
		<div class="footer-container-wrapper">
			<div class="footer-container container-fluid">
				<div class="row-fluid-wrapper row-depth-1 row-number-1">
					<div class="row-fluid">
						<div class="span12 widget-span widget-type-raw_html" data-w="12" data-widget-type="raw_html" data-x="0" style="">
							<div class="cell-wrapper layout-widget-wrapper">
								<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" data-hs-cos-general-type=
								"widget" data-hs-cos-type="raw_html" id="hs_cos_wrapper_module_14132062052911912" style=""></span>
								<div class="row-fluid footer">
									<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" data-hs-cos-general-type=
									"widget" data-hs-cos-type="raw_html" id="hs_cos_wrapper_module_14132062052911912" style=""></span>
									<div class="span12 centered">
										<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" data-hs-cos-general-type=
										"widget" data-hs-cos-type="raw_html" id="hs_cos_wrapper_module_14132062052911912" style=""><span class=
										"copyright">© 2017 IMPACT Branding &amp; Design</span></span>
									</div>
								</div>
								<script type="text/javascript">
								$(document).ready(function() {
								$(".fancybox-overlay").attr("data-anchor", "#offer");
								var url = window.location.href;
								console.log(url.indexOf("#offer"));
								if(url.indexOf("#offer") > -1) {
								$(".fancybox-overlay.fancybox-overlay-fixed").css("display","none;");
								}
								});
								</script>
							</div><!--end layout-widget-wrapper -->
						</div><!--end widget-span -->
					</div><!--end row-->
				</div><!--end row-wrapper -->
			</div><!--end footer -->
		</div><!--end footer wrapper -->
		<script src="https://static.hsstatic.net/content_shared_assets/static-1.4049/js/public_common.js" type=
		"text/javascript">
		</script> <!--[if lte IE 8]>
          <script charset="utf-8" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->

		<script src="https://js.hsforms.net/forms/v2.js">
		</script>
		<script>
		        hbspt.forms.create({
		            portalId: '145335',
		            formId: 'f0e5060e-5c92-4709-86a9-6a00600f2d90',
		            formInstanceId: '2087',
		            pageId: 2045022682,




		            pageName: "Free Guide: How to Generate More Leads from Your Blog",


		            redirectUrl: "https:\/\/offers.impactbnd.com\/generate-more-leads-from-blog-thank-you",



		            css: '',
		            target: '#hs_form_target_module_14139925212912390',


		            sfdcCampaignId: "None",




		            contentType: "landing-page",

		            formData: {
		            cssClass: 'hs-form stacked hs-custom-form'
		            }
		        });
		</script> <!-- Start of HubSpot Analytics Code -->

		<script type="text/javascript">
		var _hsq = _hsq || [];
		_hsq.push(["setContentType", "landing-page"]);
		_hsq.push(["setCanonicalUrl", "https:\/\/offers.impactbnd.com\/generate-more-leads-from-blog"]);
		_hsq.push(["setPageId", "2045022682"]);
		_hsq.push(["setContentMetadata", {
		    "contentPageId": 2045022682,
		    "legacyPageId": "2045022682",
		    "contentGroupId": null,
		    "abTestId": null,
		    "languageVariantId": 2045022682,
		    "languageCode": null
		}]);
		_hsq.push(["setTargetedContentMetadata", []]);
		</script>
		<script async defer id="hs-script-loader" src="https://js.hs-scripts.com/145335.js" type="text/javascript">
		</script> <!-- End of HubSpot Analytics Code -->

		<script type="text/javascript">
		var hsVars = {
		    ticks: 1508448751424,
		    page_id: 2045022682,
		    content_group_id: 0,
		    portal_id: 145335,
		    app_hs_base_url: "https://app.hubspot.com",
		    language: "en",
		    analytics_page_type: "landing-page"
		}
		</script>
		<!--<img src="https://snip.ly/services/pixel/56b4c18e6e95524f425eb1c6/" height=1 width=1 border=0 style="position:absolute; bottom:0;"/>-->
		 <!-- Smart Navigation Load, Check F2 and Bootstrap Files for Function -->
		 <!--<script>
      $('header').ctaready(function () {
          $("body").find("header .old==header==top==menu").animate({
              'opacity': '1',
              'filter': 'alpha(opacity=100)'
          },750);
      });
  </script>-->

	</div>
</body>
</html>
