
<p> edit job </p>
<%= form_with(model: @job, local: true) do |form| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture %>
  </div>

  <div class="field">
    <%= form.label :client %>
    <%= form.text_field :client, id: :job_client %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :job_website %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :job_title %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about, id: :job_about %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
var editor = new Editor();
editor.render();
</script>
