<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <% if author_signed_in? %>
        <li class="">
          <spam><%=current_author.name%></spam>
      </li>
        <li class="">
          <%= link_to "Logout", destroy_author_session_path(current_author), method: :delete %>
      </li>
      <% end %>

        <li class="sidebar-brand">
            <a href="#"><img src="/images/logo.png" alt=""></a>
        </li>
        <li class="<%=yield(:home_active)%>">
            <a class="menu-item" href="/">Home</a>
        </li>
        <li class="<%=yield(:service_active)%>">
            <%= link_to "Services", home_services_path,  class:"menu-item" %>
        </li>
        <li class="<%=yield(:jobs_active)%>">
          <%= link_to "Jobs", jobs_path,  class:"menu-item" %>
        </li>
        <li class="<%=yield(:blog_active)%>">
            <%= link_to "Blog", posts_path,  class:"menu-item" %>
        </li>
        <li class="<%=yield(:contact_active)%>">
            <%= link_to "Contact", home_contact_path,  class:"menu-item" %>
        </li>
        <li class="menu-footer">
            <span>
                <a href="https://www.facebook.com/dann1el"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/daflyboy04"><i class="fa fa-twitter"></i></a>
                <a href="https://plus.google.com/100490445418262828937"><i class="fa fa-google-plus"></i></a>
            </span>
            <p>© 2017 VelezDa designs<p>
        </li>
    </ul>
</div>
