<%=provide(:blog_active, 'active')%>
<div id="page-content-wrapper" class="header">
    <div class="container-fluid">
        <!-- header -->
        <a href="#menu-toggle" id="menu-toggle"><i class="lnr lnr-menu"></i></a>
        <div class="blog-header">
            <div class="header-content">
                <h3 class="animated fadeInDown">BLOG</h3>
                <div class="separator-line animated fadeInUp"> </div>
            </div>
        </div>
        <!-- / header -->

        <!-- blog 3col grid -->
        <div id="blog" data-section="blog">
            <div class="container">
                <div class="row">
                  <% if @posts.any? %>
                  <% @posts.each do |post| %>
                    <div class="blog-post-small col-sm-12 col-md-4">
                        <div class="blog-header">
                        <%=image_tag(post.banner_image_url)%>
                        </div>
                        <h3 class="post-title"><%= post.title %></h3>
                        <p class="post-meta">Posted by <a href="/" class="post-meta-link">Daniel Velez</a> on <a href="#" class="post-meta-link"><%=post.published_date%></a></p>
                        <p class="post-excerpt"><%= post.description %> </p>
                        <%= link_to 'Read more', post, class:"btn btn-xs btn-primary read-more"%>

                    </div>
                    <%end%>
                    <%end%>
                </div>
            </div><!-- / container -->
        </div><!-- / blog 3col grid-->

    </div>
</div>


<% if author_signed_in? %>
<%= link_to 'New Post', new_post_path %>
<%end%>
