<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
     <script type="text/javascript">
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-107707437-1', 'auto');
     </script>
    <% end %>
    <title>Velezda</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <%= javascript_include_tag 'application', 'bootstrap.min', 'owl.carousel.min', 'scrolling-nav', 'jquery.easing.min', 'jquery.shuffle.min', 'custom', 'jquery.countTo', 'validator.min', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'animate', 'font-awesome.min', 'home', 'linear-icons', 'owl.carousel', 'owl.theme', 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600,700' rel='stylesheet' type='text/css'>

    <%= yield(:head) %>
  </head>

  <body>
    <div id="wrapper">
      <%= render partial: 'partials/navbar' %>
      <%= yield %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script type="text/javascript">
       $('.timer').countTo({
         refreshInterval: 60,
         formatter: function (value, options) {
           return value.toFixed(options.decimals);
         },
       });
    </script>

  </body>
</html>
